

.search {
  margin-bottom: 30px;
}

.container {
  margin: 20px;
  width: 500px;
  text-align: left;
}

.container ul{
  min-height: 100px;
}

.container li {
  margin-top: 5px;
  margin-left: 30px;
}

.title {
  font-weight: 700;
}

.grayli {
  color: #ccc;
}

.grayli span {
  text-decoration: line-through;
}




